<form id="form" #f="ngForm" name="form" class="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field fxFlex>
      <input matInput
        id="title"
        name="title"
        #title="ngModel"
        [(ngModel)]="post.title"
        required/>
      @if (title.hasError('required')) {
        <mat-error align="start">
          Post Title is required
        </mat-error>
      }
    </mat-form-field>
  </p>
  <p>
    <mat-form-field fxFlex>
      <textarea  matInput
        #content="ngModel"
        name="content"
        id="content"
        [(ngModel)]="post.content"
        rows="8"
        required
        minlength="10">
      </textarea>
      @if (content.hasError('required')) {
        <mat-error align="start">
          Post Content is required
        </mat-error>
      }
      @if (content.hasError('minlength')) {
        <mat-error align="start">
          At least 10 chars
        </mat-error>
      }
    </mat-form-field>
  </p>
  <p>
    <button mat-button mat-raised-button color="primary" type="submit" [disabled]="f.invalid || f.pending">  {{'save'}}</button>
  </p>

</form>
