<form id="form" name="form" class="form" [formGroup]="commentForm" (ngSubmit)="saveCommentForm()"
  novalidate>
  <p>
    <mat-form-field fxFlex>
      <textarea  matInput  name="content" id="content" [formControl]="content" rows="8" required>
      </textarea>
      @if (content.hasError('required')) {
        <mat-error align="start">Comment is required</mat-error>
      }
      @if (content.hasError('minlength')) {
        <mat-error align="start">At least 10 chars</mat-error>
      }
    </mat-form-field>
  </p>
  <p>
    <button mat-button mat-raised-button type="submit" color="primary" [disabled]="commentForm.invalid || commentForm.pending">  {{'save'}}
    </button>
  </p>
</form>
