<mat-card>
  <mat-card-title>PLEASE SIGNIN</mat-card-title>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field fxFlex>
          <input type="text" matInput #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username"
            required>
        </mat-form-field>
        @if (userControl.invalid && !userControl.pristine) {
          <mat-hint fxLayoutAlign="start">
            @if (passControl.hasError('required')) {
              <span class="tc-red-600">username is required</span>
            }
          </mat-hint>
        }
      </p>

      <p>
        <mat-form-field fxFlex>
          <input type="password" matInput #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password"
            required>
          @if (passControl.hasError('required')) {
            <mat-error fxLayoutAlign="start">
              Password is <strong>Required</strong>.
            </mat-error>
          }
        </mat-form-field>

      </p>

      @if (errorMessage) {
        <p class="loginError">
          {{ errorMessage }}
        </p>
      }

      <p class="loginButtons">
        <button type="submit" color="accent" mat-button md-raised-button fxFlex [disabled]="loginForm.invalid||loginForm.pending">Login</button>
      </p>

    </form>
  </mat-card-content>
</mat-card>
