name: Server

on:
  push:
    paths-ignore:
      - "docs/**"
      - "ui/**"
    branches:
      - master
      - release/*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build-server:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: "zulu"
          cache: "maven"

      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Resolve dependencies
        run: mvn clean dependency:go-offline --file api/pom.xml

      - name: Build with Maven
        run: mvn package --file api/pom.xml -DskipTests


      - name: Build Docker Image
        run: mvn spring-boot:build-image --file api/pom.xml -DskipTests

#       - name: Login to DockerHub Registry
#         run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

#       - name: Push Docker Image
#         run: docker push hantsy/angular-spring-reactive-sample-server
